body {
    font-family: "Roboto", sans-serif;
    color: var(--link-btn-title-color);
  }

  .list {
    list-style: none;
  }
  
  .link {
    text-decoration: none;
  }
  
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }