:root {
    --link-btn-title-color: #212121;
    --contact-aftertitle-color: #757575;
    --hover-focus-color: #2196f3;
    --address-map: #ffffff;
    --benefits-job-team-title-name: #212121;
    --benefits-team-text: #757575;
    --text-color-btn-hover-focus: #ffffff;
    --header-logo: #000000;
    --footer-logo: #ffffff;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }