.benefits_title {
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--benefits-job-team-title-name);
  margin-bottom: 10px;
}

.benefits_text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--benefits-team-text);
}

.benefits_list {
  display: flex;
  gap: 30px;
}

.benefits_icons {
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
